<h1>This CV is NOT static.</h1>
<h2>It was built using <b>PHP</b>, <b>MySQL</b>, <b>jQuery</b>, <b>Bootstrap</b> and <b>Angular</b>.  Most of my resume is Microsoft focused, so this acts as proof I can navigate the LAMP stack (or any other for that matter).</h2>
<br />
<span class="medtext">All the data for jobs, accomplishments, reccomendations and skills are stored first in <a href="http://www.mysql.com/">MySQL</a> and sent in seperate arrays via a <a href="http://php.net/">PHP</a> generated JSON resume object that <a href="resume.php">you can inspect here</a>.  From that point, I organize the data, and dynamically display it on the page using <a href="https://angularjs.org/">Angular</a> and <a href="http://getbootstrap.com/">Bootstrap</a>.  If you're hardcore, you might want to see <a href="https://github.com/BarnesCode/ninjaresume"><b>this GitHub link</b></a> which includes all the code.  For now, I've focused on Desktop, but will add some mobile specific functionality soon.</span>
<br /><br />
<span class="medtext">Colors thanks to <a href="http://www.colourlovers.com/palette/46688/fresh_cut_day">electrikmonk</a></span>

<br />
<span class="medtext">Use the navigation on the right, scroll down, or use any of the following links to jump to my <a href="javascript:void(0);" ng-click="navigate('timeline')">Work History</a>, <a href="javascript:void(0);" ng-click="navigate('accomplishments')">Major Accomplishments</a>, or <a href="javascript:void(0);" ng-click="navigate('skills')">Skills Toolbox.</a></span>
<br />
<h1 class="footer"><span class="glyphicon glyphicon-circle-arrow-down btn btn-lg"></span>See what I've been upto the past 15 years<span class="glyphicon glyphicon-circle-arrow-down btn-lg"></span></h1>
