
h1,h2,h3,h4,h5,h6{
    text-shadow:1px 1px 1px white;
}

body{
    font-family:century gothic;
    background-image:url(ninja.png);
    background-repeat:no-repeat;
    background-position:bottom right;
    background-attachment:fixed;
    }
    
#sidebar{
   background-color:rgba(255,255,255,.8);
   margin-left:-20px;
   margin-top:-20px;
   padding-top:20px;
   padding-left:20px;
   height:100%;
   display:block;
   box-shadow:2px 2px 20px black inset;
   width:100%;
   }
    
.bs-docs-sidebar .nav > li > a{color:black;}
.bs-docs-sidebar{
    background-color:transparent;}

.accomplishment {
    height: 100px;
    padding-left: 15px;
    padding-right: 15px;
}

.accomplishments-container {
    background-color: #F9F2E7;
    padding-top: 100px;
    padding-bottom: 150px;
    padding-left: 40px;
    padding-right: 40px;
}

.heading {
    font-size: x-large;
    padding-bottom: 100px;
}

.job {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 40px;
}

.job-container {
    padding-top: 100px;
    padding-bottom: 150px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #C1D3C8;
}
.aboutme {
    color:white;
    padding:20px;
    background-color: #00A8C6;
    box-shadow:2px 2px 100px 20px #094e77 inset;
    border-top:20px solid black;
}
.highlight{
    color:white;
    text-shadow:1px 1px 1px black;
}

.nopadding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.skill {
    background-color: #6A5A5B;
    color: white;
    border-radius:3px;
    border: 1px solid white;
    border-radius: 1px;
    padding: 0px 2px;
    margin-bottom: 10px;
}

.btn-xl {
    padding: 18px 28px;
    font-size: x-large;
    //change this to your desired size line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.bigtext {
    font-size: x-large;
    font-weight: bold;
}

.medtext {
    font-size: larger;
}

.skillcloud {
    color:white;
    background-color: #AEE239;
    padding-top: 100px;
    padding-bottom: 150px;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow:2px 2px 20px black inset;
}

.opener {
    background-color: #40C0CB;
    padding-top: 50px;
    padding-bottom: 150px;
    padding-left: 40px;
    padding-right: 40px;
}

#aboutsite a:link {
    color: white;
    text-decoration:underline;

}
#aboutsite a:visited{
  color:white;
}
