<!DOCTYPE html>
<html ng-app="resume">
<head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="sidenav.css" />
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="bootstrap.min.js"></script>
    <script>
        $(function () {
            $('#myTab a').click(function (e) {
                //alert($(this).tab());
                e.preventDefault();
                $(this).tab('show');
            })
            $('.opener').height($(window).height());
        });

    </script>
</head>
<body ng-controller="ResumeController as resume" style="position: relative; height: 100%" data-offset="40px" data-spy="scroll" data-target=".bs-docs-sidebar">
    <div class="row" id="sscontent">
        <div class="col-md-10">
            <div class="container-fluid info opener" id="introduction">

                <h1>Interactive Curriculum Vitae</h1>
                <h2>This site was built using <b>PHP</b>, <b>MySQL</b>, and <b>Angular</b>.  Most of my resume is Microsoft focused, so this acts as proof I can navigate the LAMP stack.</h2>
                <br />
                <h4>All the data for jobs, accomplishments and skills are stored in <a href="http://www.mysql.com/">MySQL</a> and sent in seperate arrays via a <a href="http://php.net/">PHP</a> generated <code>JSON resume object</code> that <a href="resume.php">you can inspect here</a>.  From that point, I organize the data, and display it on the page using <a href="https://angularjs.org/">Angular</a> and <a href="http://getbootstrap.com/">Bootstrap</a>.</h4>
                <h4>Because I need to share this quickly, I'm going intentionally light on design, reserving time for functionality.</h4>
                <h4>My ideal position is technical co-founder, or employee #1 for a recently funded startup.  I prefer a culture centered around teamwork, expirimentation, and people who are excited.</h4>
                <h2>Use the navigation on the right, scroll down, or use any of the following links to jump to my <a href="#timeline">Work History</a>, <a href="#accomplishments">Major Accomplishments</a>, or <a href="#skills">Skills Toolbox.</a></h2>

                <h1 class="footer"><span class="glyphicon glyphicon-circle-arrow-down btn btn-lg"></span><span class="glyphicon glyphicon-circle-arrow-down btn btn-lg"></span>See what I've been upto the past 15 years<span class="glyphicon glyphicon-circle-arrow-down btn-lg"></span><span class="glyphicon glyphicon-circle-arrow-down btn-lg"></span></h1>
            </div>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="col-md-12" style="margin-top: 10px">
                        <div class="" id="accomplishments">
                            <div class="" style="height: 100px" ng-attr-id="{{'acc-' + accomplishment.id}}" ng-repeat="accomplishment in resume.accomplishments | limitTo : 10">
                                <span class="animate-switch-container" 
                                    ng-switch on="accomplishment.type">
                                    <span class="animate-switch" ng-switch-when="product" data-toggle="tooltip" data-placement="right" title="Put it in a box.  This accomplishment is product related."><i class="glyphicon glyphicon-gift glyphicon-th-large"></i></span>
                                    <span class="animate-switch" ng-switch-when="technical" data-toggle="tooltip" data-placement="right" title="000101001111 This accomplishment is tech related."><i class="glyphicon glyphicon-wrench"></i></span>
                                    <span class="animate-switch" ng-switch-when="management" data-toggle="tooltip" data-placement="right" title="Umm, I'm going to need you to come in on Saturday... This accomplishment is management related."><i class="glyphicon glyphicon-user"></i></span>
                                    <span class="animate-switch" ng-switch-when="sales" data-toggle="tooltip" data-placement="right" title="Cha Ching!  This accomplishment is sales or marketing related."><i class="glyphicon glyphicon-usd"></i></span>
                                    <span class="animate-switch" ng-switch-default>{{accomplishment.type}}</span>
                                </span>
                                <span class="info-text"><big>&nbsp;{{accomplishment.name}}</big></span>
                                <p style="padding-left:35px" class="text-muted">{{accomplishment.description}}</p>
                            </div>
                        </div>
                        <div class="" id="timeline">
                            <div ng-repeat="job in resume.jobs" ng-attr-id="{{'job-' + job.id}}" class="row">
                                <h4>
                                    <span ng-if="job.startup != 1" class="timeline-badge info" data-toggle="tooltip" data-placement="left" title="Eww... Corperate America"><i class="glyphicon glyphicon-briefcase"></i></span>
                                    <span ng-if="job.startup == 1" class="timeline-badge success" data-toggle="tooltip" data-placement="left" title="Go Startups!"><i class="glyphicon glyphicon-fire"></i></span>
                                    {{job.company}} - <small>{{job.description}}</small><small class="text-info"> - {{job.title}}</small>
                                    <small class="text-muted pull-right"><i class="glyphicon glyphicon-time"></i>&nbsp;{{job.startyear}} - {{job.endyear}}</small>
                                </h4>


                                <div class="row">
                                    <div class="col-md-8">
                                        <ol style="margin-top: 15px">
                                            <!--float: left;-->
                                            <li class="" ng-repeat="accomplishment in resume.accomplishments | filter: { idjob : job.id } : true">{{accomplishment.name}}
                                            </li>
                                        </ol>
                                    </div>
                                    <div class="col-md-4">
                                        <span ng-repeat="jobskill in resume.jobskills | filter: { idjob : job.id }" style="padding-top:5px">
                                            <span ng-repeat="skill in resume.skills | filter: { id : jobskill.idskill } : true"><span class="bg-danger" style="margin-top: 6px; margin-left: 4px; padding: 1px 1px 1px 1px">
                                                <!--float: left;-->
                                                {{skill.name}}</span></span>
                                        </span>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="" id="skills">
                            <h4>Skills</h4>
                            <ol>
                                <li class="" ng-repeat="skill in resume.skills"><b>{{skill.name}}</b>
                                </li>
                            </ol>
                        </div>
                    </div>

                </div>

            </div>
            >

        </div>
        <nav class="col-xs-2 bs-docs-sidebar">
            <ul id="sidebar" class="nav nav-stacked fixed">
                <li>
                    <a href="#introduction">Introduction</a>
                </li>
                <li>
                    <a href="#accomplishments">Career Highlights</a>
                    <ul class="nav nav-stacked">
                        <li ng-repeat="acc in resume.accomplishments | limitTo : 10">
                            <a ng-href="#acc-{{acc.id}}">{{acc.name}}</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#timeline">Work History</a>
                    <ul class="nav nav-stacked">
                        <li ng-repeat="job in resume.jobs">
                            <a ng-href="#job-{{job.id}}">{{job.company}}</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#skills">Skills Toolbox</a>
                    <!--<ul class="nav nav-stacked">
                        <li ng-repeat="skill in resume.skills">
                            <a ng-href="#skill-{{skill.id}}">{{skill.name}}</a>
                        </li>
                    </ul>-->
                </li>

            </ul>
        </nav>
    </div>
</body>
</html>
